{{ template "top" }}

    <h1 class="font-semibold text-4xl ">
        This or That?
        <span class="font-mono opacity-50 font-normal text-2xl ml-5">{{ .Comment }}</span>
    </h1>

    <!-- Languages Row -->
    <ul class="flex flex-wrap gap-2 items-center justify-center w-full my-5">
        {{ range $i, $lang := .Langs }}
        <li>
            <img width="60" height="60" class="bg-slate-200 p-2 rounded-lg bg-opacity-85"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ $lang.LogoSlug }}/{{ $lang.LogoSlug }}-original.svg" />
        </li>
        {{ end }}
    </ul>

    <section class="my-5 text-lg">
        <p><b>JavaScript</b> or <b>Python</b>?</p>
        <p><b>Rust</b> or <b>Go</b>?</p>
        <p class="text-lg">Tell us which languages are your favorite, because <i>what else should you be doing on the
                internet?</i></p>
    </section>

    <hr class="border-cyan-100 my-10">

    <section class="my-5 text-lg">
        <h3 class="font-bold text-2xl">The community has spoken!</h3>
        <h4 class="text-xl">Actually, it's only 0 developers.</h4>
    </section>

{{ template "bottom" }}
