{{ define "top" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>This or That Lang</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>

<body class="mx-auto my-12 max-w-6xl p-5 text-slate-200 bg-slate-800 w-full">

    <h1 class="font-semibold text-4xl mb-10">
        This or That?
        <span class="font-mono opacity-50 font-normal text-xl ml-5">{{ .Comment }}</span>
    </h1>

{{ end }}
